.container {
    display: flex;
    align-items: flex-end;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 20px;
    a[role=button] {
        margin-left: auto;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 26px;
        line-height: 17px;
        text-align: center;
        width: 215px;
        padding-top: 11px;
        padding-bottom: 12px;
    }
}

.modal-content {
    background: #F7F7F7;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 1rem 0;

    .modal__header {
        display: flex;
        justify-content: space-between;
        .modal__header-title{
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: #464646;
            width: 100%;
        }
        button.close{
            color: #D8D8D8;
            font-weight: 100;
            position: absolute;
            top: 0.2rem;
            right: 0.4rem;
        }
    }
    .modal__body {
        background-color: white;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        .modal__body-title {
            display: inline-block;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #464646;
            padding-bottom: 0.6rem;
        }
        .modal__body-input {
            display: flex;
            border: 2px solid #ECECEC;
            border-radius: 6px;
            outline: 0;
            padding-left: 1rem;
            img {
                padding-right: 1rem;
            }
            input {
                width: 100%;
                padding: 10px 0px;
                outline: 0;
                border: 0;
            }
        }
        .error {
            display: inline-block;
            margin-top: 0.5rem;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FF6A6A;
        }
        .modal__services .service{
            &__item{
                display: flex;
                padding: 20px;
                margin: 0 -16px;
                border-bottom: 1px solid lightgray;
                &:last-child{
                    border-bottom: 0;
                }
                &-img {
                    width: 50px;
                    height: 50px;
                    background-color: lightpink;
                    border-radius: 50%;
                    margin-right: 20px;
                }
                &-description {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;
                }
                &-productname{
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    line-height: 19px;
                    color: #999999;
                    margin-bottom: 0.2rem;
                    flex-basis: 100px;
                }
                &-productcount {
                    border: 2px solid #ECECEC;
                    outline: 0;
                    padding: 10px;
                    margin-left: auto;
                    flex-grow: 1;
                    border: 2px solid #ECECEC;
                    border-radius: 6px;
                    outline: 0;
                    appearance: none;
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                &-price {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: right;
                    color: #999999;
                }

            }
        }
    }
    .modal-footer {
        padding-top: 20px;
        justify-content: space-between;
    }

}
.modal-footer{
    .modal-total {
        flex: 1 0 100%;
        margin-left: auto;
        text-align: end;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: right;
        color: #999999;
        padding-bottom: 1rem;
        .price {
            color: black
        }
    }
}